.main {
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: #ffffff;
    text-align: center;
}

h2 {
    color: #ffffff;
    text-align: start;
    font-weight: 400;
}

p {
    color: #ccccc1;
    text-align: start;
    font-weight: 300;
    margin-top: 0;
}

.product {
    background-color: #202024;
    width: 80vw;
    height: 20vh;
    margin: auto;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.product:hover {
    background-color: #333333;
    transition: .2s;
}

.leftproduct {
    width: 30vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin-left: 5vw;
}

.leftproduct > img {
    width: 30vw;
    height: 20vh;
}

.rightproduct {
    width: 30vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightproduct > img {
    width: 30vw;
    height: 20vh;
}

.leftproductdiff{
    width: 30vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.leftproductdiff > img {
    width: 30vw;
    height: 20vh;
}

.rightproductdiff{
    width: 30vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin-right: 5vw;
}