@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  background-color: #000000;
}

.menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  background-color: #000000;
  color: #CCCCC1;
  border-bottom: 2px solid #7159c1;
}

.menu a {
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  color: #CCCCC1;
}

.menu a:hover {
  color: #ffffff;
  transition: 0.3s;
}

.main {
    margin-top: 100px;
}

.confirmation {
    margin-top: 1px;
}

div {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 35px;
    color: #405230;
}

p {
    color: #687a51;
    font-size: 20px; 
}