body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #000000;
}

.menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  background-color: #000000;
  color: #ffffff;
}

.menu a {
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  color: white;
}

.menu a:hover {
  background-color: #7159c1;
  transition: 0.3s;
}

.titulo1 {
  color: #d8d8f6;
  font-size: 80px;
  text-align: center;
}

.inicial {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inicial2 {
  margin-left: 20px;
  margin-top: 20px;
}

.btn1 {
  padding: 7px;
  width: 200px;
  height: 45px;
  border-radius: 30px;
  border-color: #000000;
  color: #ffffff;
  background-color: #7159c1;
  font-style: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  cursor: pointer;
}

.btn1:hover {
  border-color: #7159c1;
  background-color: #000000;
  color: #ffffff;
  transition-duration: 0.3s;
}

.btn2 {
  padding: 7px;
  width: 200px;
  height: 45px;
  border-radius: 30px;
  color: #ffffff;
  border-color: #7159c1;
  background-color: #000000;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.btn2:hover {
  background-color: #7159c1;
  transition: 0.3s;
}
