body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #000000;
}

.menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  background-color: #000000;
  color: #ffffff;
}

.menu a {
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  color: white;
}

.menu a:hover {
  background-color: #7159c1;
  transition: 0.3s;
}

.impacta {
  display: flex;
  justify-content: center;
  align-items: center;
}

.impacta span {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(to right, #9678c0, #7159c1);
  -webkit-background-clip: text;
  color: transparent;
}

.titulo1 {
  color: #d8d8f6;
  font-size: 60px;
  text-align: center;
}

.degrade {
  background: linear-gradient(to right, #9678c0, #7159c1);
  -webkit-background-clip: text;
  color: transparent;
}

.inicial {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inicial2 {
  margin-left: 20px;
  margin-top: 20px;
}

.btn1 {
  padding: 7px;
  margin-right: 15px;
  width: 200px;
  height: 45px;
  border-radius: 30px;
  border-color: #000000;
  color: #ffffff;
  background-color: #7159c1;
  font-style: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  cursor: pointer;
}

.btn1:hover {
  border-color: #7159c1;
  background-color: #000000;
  color: #ffffff;
  transition-duration: 0.3s;
}

.btn2 {
  padding: 7px;
  width: 200px;
  height: 45px;
  border-radius: 30px;
  color: #ffffff;
  border-color: #7159c1;
  background-color: #000000;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.btn2:hover {
  background-color: #7159c1;
  transition: 0.3s;
}

.news_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 200px;
}

.news {
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news_text {
  color: #ffffff;
  font-weight: lighter;
  font-size: 60px;
}

.news_buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.btn3 {
  padding: 7px;
  margin-right: 15px;
  width: 200px;
  height: 45px;
  border-radius: 30px;
  color: #ffffff;
  border-color: #ffffff;
  background-color: #000000;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
}

.btn3:hover {
  background-color: #ffffff;
  color: #000000;
  transition: 0.3s;
}

.btn4 {
  padding: 7px;
  width: 200px;
  height: 45px;
  border-radius: 30px;
  color: #ffffff;
  border-color: #ffffff;
  background-color: #000000;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
}

.btn4:hover {
  background-color: #ffffff;
  color: #000000;
  transition: 0.3s;
}
