.impacta {
  display: flex;
  justify-content: center;
  align-items: center;
}

.impacta span {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}

.center {
  margin-left: 40px;
  margin-right: 40px;
}

.titulo1 {
  color: #d8d8f6;
  font-size: 60px;
  text-align: center;
}

.degrade {
  color: #d8d8f6;
}

.inicial {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 60px;
  margin-left: 60px;

}

.inicial2 {
  margin-left: 60px;
  margin-top: 20px;
}

.btn1 {
  padding: 7px;
  margin-right: 15px;
  width: 200px;
  height: 45px;
  border-radius: 30px;
  border-color: #000000;
  color: #ffffff;
  background-color: #7159c1;
  font-style: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  cursor: pointer;
}

.btn1:hover {
  border-color: #7159c1;
  background-color: #000000;
  color: #ffffff;
  transition-duration: 0.3s;
}

.btn2 {
  padding: 7px;
  width: 200px;
  height: 45px;
  border-radius: 30px;
  color: #ffffff;
  border-color: #7159c1;
  background-color: #000000;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.btn2:hover {
  background-color: #7159c1;
  transition: 0.3s;
}

.news_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 200px;
}

.news {
  margin-left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news_text {
  color: #ffffff;
  font-weight: lighter;
  font-size: 60px;
}

.news_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 60px;
}

.btn3 {
  padding: 7px;
  margin-right: 15px;
  width: 200px;
  height: 45px;
  border-radius: 30px;
  color: #ffffff;
  border-color: #ffffff;
  background-color: #000000;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
}

.btn3:hover {
  background-color: #ffffff;
  color: #000000;
  transition: 0.3s;
}

.btn4 {
  padding: 7px;
  width: 200px;
  height: 45px;
  border-radius: 30px;
  color: #ffffff;
  border-color: #ffffff;
  background-color: #000000;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
}

.btn4:hover {
  background-color: #ffffff;
  color: #000000;
  transition: 0.3s;
}