.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

.card-forgot {
    width: 50vw;
    height: 70vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: #000000;
}

.card-forgot-title {
    color: #CCCCC1;
    font-weight: 800;
    margin: 0;
    font-size: 1.5rem;
}

.card-forgot-input {
    width: 50%;
    border: 2px solid #242424;
    border-radius: 5px;
    padding: 15px;
    background-color: #121214;
    color: #f0ffffde;
    font-size: 12pt;
    outline: none;
    box-sizing: border-box;
}

.card-forgot-input:focus {
    border: 2px solid #7159c1;
}

.card-forgot-input::placeholder {
    color: #d7e3e394;
    font-size: 14px;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4% 0 0 0;
}

.btn-forgot {
    width: 50%;
    padding: 15px 0px;
    margin: 4% 0 0 0;
    border: none;
    border-radius: 5px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    color: #ffffff;
    background-color: #7159c1;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #7159c156;
}

.btn-forgot:hover {
    background-color: #8d73e6;
    transition: .3s;
}

.card-forgot-p {
    font-size: .9rem;
}

.card-forgot a {
    text-decoration: none;
    color: #bac6c6de;
}

.card-forgot a:hover {
    color: #e3e9e9de;
    transition: .3s;
}