@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  background-color: #000000;
}

.menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  background-color: #000000;
  color: #CCCCC1;
}

.create {
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}

.create:hover {
  background-color: #7159c1;
}

.btnmenu {
  background-color: #000000;
  font-family: 'Noto Sans', sans-serif;
  border: 1pt solid #8257E5;
  padding: 10px 15px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 7px;
  width: 75%;
  height: 70%;
  margin-top: 5%;
  margin-left: 5%;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
}

.btnmenu:hover {
  background-color: #9466FF;
  transition: .3s;
}

.link {
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  color: #CCCCC1;
  border-bottom: 2px solid #000000;
}

.link:hover {
  color: #ffffff;
  transition: 0.3s;
  border-bottom: 2px solid #7159c1;
}

.main {
  margin-top: 30px;
}

.confirmation {
  margin-top: 1px;
  margin-bottom: 40px;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 40px;
  color: #d8d8f6;
}

.confirmation_text {
  color: #d8d8f6;
  font-size: 30px;
}

.continue {
  display: flex;
  justify-content: center;
  align-items: center;
}

.butao {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7159c1;
  color: white;
  border-radius: 10px;
  width: 280px;
  height: 45px;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid #7159c1;
  text-decoration: none;
  cursor: pointer;
}

.butao:hover {
  background-color: #5e4e91;
  transition: 0.3s;
}

.material-symbols-outlined {
  color: #ffffff;
  margin: 0, auto;
}
