.main {
  margin-top: 30px;
}

.confirmation {
  margin-top: 1px;
  margin-bottom: 40px;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 40px;
  color: #d8d8f6;
}

.confirmation_text {
  color: #d8d8f6;
  font-size: 30px;
}

.continue {
  display: flex;
  justify-content: center;
  align-items: center;
}

.butao {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7159c1;
  color: white;
  border-radius: 10px;
  width: 280px;
  height: 45px;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid #7159c1;
  text-decoration: none;
  cursor: pointer;
}

.butao:hover {
  background-color: #5e4e91;
  transition: 0.3s;
}

.material-symbols-outlined {
  color: #ffffff;
  margin: 0, auto;
}
