.container {
  background-color: #000000;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titletext {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.title h1 {
  color: #CCCCC1;
  font-size: 5vh;
}

.title p {
  font-weight: 300;
  font-size: 3vh;
  color: #CCCCC1;
  margin-top: 5%;
}

.right-login {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-signin {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background-color: #202024;
  border-radius: 8px;
  box-shadow: 0px 10px 40px #2f284156;
}

.card-signin-title {
  color: #CCCCC1;
  margin: 0;
  font-weight: 800;
  letter-spacing: 1pt;
}

.card-signin-subtitle {
  color: #a1a1a1;
  margin: 0;
  font-weight: 300;
  margin: 4% 2% 2% 2%;
  width: 50%;
  text-align: center;
}

.textfield {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 0px;
}

.textfield>input {
  width: 100%;
  border: 2px solid #242424;
  border-radius: 10px;
  padding: 15px;
  background-color: #121214;
  color: #f0ffffde;
  font-size: 12pt;
  box-shadow: 0px 10px 40px -12px #7159c156;
  outline: none;
  box-sizing: border-box;
}

.textfield>input:focus {
  border: 2px solid #7159c1;
}

.textfield>input::placeholder {
  color: #d7e3e394;
  font-size: 14px;
}


.btn-signin {
  width: 100%;
  padding: 16px 0px;
  margin: 25px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
  color: #ffffff;
  background-color: #121214;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #7159c156;
}

.btn-signin:hover {
  background-color: #7159c1;
  transition: .3s;
}

.register {
  color: #CCCCC1;
  margin-bottom: 1pt;
}

.register a {
  color: #6d46ca;
  text-decoration: none;
  font-weight: bold;
}

.register a:hover {
  color: #7f59d8;
  transition: .2s;
}