body {
  background-color: #000000;
  font-family: Arial, sans-serif;
  margin: 0;
}

.menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  /* Adjust the number of columns based on your menu items */
  background-color: #000000;
  color: white;
}

.menu a {
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  color: white;
}

.menu a:hover {
  background-color: #7159c1;
  transition: 0.5s;
}

.mainzada {
  margin-top: 50px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #ffffff;
}

.cadastro {
  font-size: 30px;
}

::placeholder {
  color: #000000;
  padding-left: 1px;
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.label_dois {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

::placeholder {
  color: #000000;
  font-size: 12px;
}

.inputum {
  width: 268px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid #000000;
  padding-left: 12px;
}

.inputum:focus {
  outline: none;
  border: 2px solid #7159c1;
}

.butaodiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.butao {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: white;
  border-radius: 10px;
  width: 280px;
  height: 45px;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid #7159c1;
  text-decoration: none;
  cursor: pointer;
}

.butao:hover {
  background-color: #7159c1;
  transition-duration: 0.2s;
}

.butao2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: white;
  border-radius: 10px;
  width: 280px;
  height: 45px;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid #7159c1;
  text-decoration: none;
  opacity: 0.8;
  cursor: pointer;
}

.butao2:hover {
  opacity: 1;
  transition-duration: 0.3s;
}

.key {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.key a {
  color: #272727;
  text-decoration: none;
  opacity: 0.9;
  font-style: bold;
}

.key a:hover {
  opacity: 1;
}

.or {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
  color: grey;
}

.paibutao {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}