.main {
    width: 100vw;
    height: 65vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); 
    place-items: center;
}

.grid-item {
    background-color: #202024;
    width: 40vw;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: .5rem;
}

.grid-item:hover {
    background-color: #333333;
    cursor: pointer;
}

.item {
    width: 80%;
}

.title {
    color: white;
    text-align: center;
}

.item-title {
    color: white;
}

.item-p {
    color: #cccccc;
}

span {
    color: #7159c1;
    font-size: .9rem;
}