body {
    background-color: #FFFCF8;
    font-family: Arial, sans-serif;
    margin: 0;
}

.mainzada {
    margin-top: 60px;
}

.menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    /* Adjust the number of columns based on your menu items */
    background-color: #A8BF8C;
    color: white;
}

.menu a {
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.menu a:hover {
    background-color: #83996f;
    transition: 0.5s;
}

h1 {
    text-align: center;
    margin-top: 40px;
    color: #405230;
    font-size: 50px;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.label_dois {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.inputum {
    width: 330px;
    height: 40px;
    border-radius: 5px;
    border-style: none;
}

.inputdois {
    width: 330px;
    height: 40px;
    border-radius: 5px;
    border-style: none;
}

.butaodiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.butao {
    background-color: #405230;
    color: white;
    border-radius: 10px;
    width: 345px;
    height: 46px;
    font-size: 20px;
    font-weight: bold;
    border-style: none;
    opacity: 0.8;
}

.butao a {
    text-decoration: none;
    color: white;
}

.butao:hover {
    opacity: 1;
    transition-duration: 0.3s; 
}

.key {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color: #405230;
}

.key a {
    text-decoration: none;
    color: #405230;
}

.or {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    color: grey;
}

.paibutao {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

.butao2 {
    background-color: rgb(2, 190, 2); 
    color: white;
    border-radius: 5px;
    width: 160px;
    height: 45px;
    font-size: 16px;
    font-weight: bold;
    border-style: none;
}