.main-login {
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-login {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cadaster {
  color: #CCCCC1;
  display: flex;
  justify-content: center;
  align-items:center;
  width: 100%;
}

.cadaster > h1 {
  text-align: start;
  font-size: 2.9vw;
}

.cadaster_p {
  color: #f0ffff94;
  display: flex;
  justify-content: center;
  align-items:center;
  width: 100%;
}

.cadaster_p > p {
  font-size: 2vw;
  text-align: start;
}

.right-login {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-login {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background-color: #202024;
  border-radius: 8px;
  box-shadow: 0px 10px 40px #2f284156;
}

.card-login>h1 {
  color: #CCCCC1;
  font-weight: 800;
  margin: 0;
  letter-spacing: 2px;
}

.textfield {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10px 0px;
}

.textfield>input {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  background-color: #121214;
  color: #f0ffffde;
  font-size: 12pt;
  box-shadow: 0px 10px 40px -12px #7159c156;
  outline: none;
  box-sizing: border-box;
}

.textfield>input:focus {
  border: 2px solid #7159c1;
}

.textfield>label {
  color: #f0ffffde;
  margin-bottom: 10px;
}

.textfield>input::placeholder {
  color: #f0ffff94;
  font-size: 14px;
}

.forgotkey {
  color: #8257E6;
  margin-bottom: 0px;
  font-size: 14px;
  margin-left: 1%;
  font-weight: bold;
}

.forgotkey>a {
  text-decoration: none;
}

.forgotkey>a:hover {
  color: #7f59d8;
  transition: .2s;
}

.btn-login {
  width: 100%;
  padding: 16px 0px;
  margin: 10px 25px 10px 25px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  color: #ffffff;
  background-color: #121214;
  cursor: pointer;
  box-shadow: 0px 10px 40px -12px #7159c156;
}

.btn-login:hover {
  background-color: #7159c1;
  transition: .3s;
}

.p_register {
  color: #CCCCC1;
  margin-bottom: 1pt;
}

.p_register>a {
  color: #6d46ca;
  text-decoration: none;
  font-weight: bold;
}

.p_register>a:hover {
  color: #7f59d8;
  transition: .2s;
}

.p_terms {
  margin-bottom: 0;
  color: #CCCCC1;
  text-align: center;
  font-size: 14px;
}

.p_terms>a {
  color: #6d46ca;
  text-decoration: none;
}

.p_terms>a:hover {
  color: #7f59d8;
  transition: .2s;
}